.container {
    width: 400px;
    box-shadow: -1px 4px 14px grey;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inputBox {
    font-size: 14px;
    input {
        padding-left: 10px;
    }
}

@media (max-width:575px) {
    .container {
        width: 100%;
        box-shadow: none;
        position: relative;
        transform: none;
        top: 0;
        left: 0;
    }
}