.searchBar {
    width: 360px; position: absolute; right: 100px;
}
.searchBox {
    font-size: 14px;
}
.searchBox input {
    width: 320px; border: none; padding: 0 24px 0 34px;
}
.searchBox .fa-caret-down {
    right: 0; font-size: 16px;
}
.rightNav {
    border-left: 1px solid grey; height: 100%;
}
table {
    width: 100%; box-shadow: none;
}
.mat-cell {
    border-bottom: none;
}
.inner {
    height: 80%; padding: 14px 26px;
}
.box { border: 1px solid #bbb; border-radius: 5px; overflow: hidden; }

@media (max-width:580px) {
    .searchBar {
        position: static;
        width: 100%;
    }
}

@media (max-width:450px) {
    .searchBar input {
        width: 100%;
    }
}