<mat-toolbar color="primary" class="px-3 px-sm-4">    
    <mat-toolbar-row>
        <img src="./assets/css3.png" alt="logo" style="width: 30px; margin-right: 10px;">
        <h2>FileTiger</h2>
        <span class="spacer"></span>   
        <img src="./assets/icon.png" alt="userIcon" style="width: 30px;" class="rounded-circle">
    </mat-toolbar-row>

    <mat-toolbar-row class="searchBar">
        <form>
            <div class="searchBox position-relative">
                <i class="fa fa-search position-absolute text-secondary mt-2 ml-2"></i>
                <input type="search" placeholder="Full Search">
                <i class="fa fa-filter position-absolute text-secondary mt-2 mr-2"></i>                
            </div>
        </form>
    </mat-toolbar-row>
</mat-toolbar>