.spacer {
    flex: 1 1 auto;
}
.searchBar {
    width: 360px;
    position: absolute;
    right: 100px;
}
.searchBox {
    font-size: 14px;
}
.searchBox input {
    width: 320px;
    border: none;
    padding: 0 24px 0 34px;
}
.searchBox .fa-filter {
    right: 0;
    font-size: 16px;
}

@media (max-width:580px) {
    .searchBar {
        position: static;
        width: 100%;
    }
}

@media (max-width:450px) {
    .searchBar input {
        width: 100%;
    }
}